body {
    background-image: url('https://i.pinimg.com/736x/a2/02/ff/a202ff44bf1c6d539eb954e916c796a2.jpg');
}

.card {
    background: rgb(160, 158, 158);
}

p, div {
    font-weight: bold;
    font-size: large;
}

.btn {
    border-radius: 0%;
    margin: 0.5rem 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:active {
    background-color: #2e2f69;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#row {
    display: flex;
    justify-content: center;
}

#vs {
    margin-top: 1.2rem;
    padding: 0rem 1rem;
}